<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>184280806494-svnpfig49nut9hiadt17puh5vkaf07hp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.184280806494-svnpfig49nut9hiadt17puh5vkaf07hp</string>
	<key>API_KEY</key>
	<string>AIzaSyAt9He05gv8WvI-jYqVVr8e0I5SwNDMR-c</string>
	<key>GCM_SENDER_ID</key>
	<string>184280806494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Matt.TRACE</string>
	<key>PROJECT_ID</key>
	<string>trace-93ce1</string>
	<key>STORAGE_BUCKET</key>
	<string>trace-93ce1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184280806494:ios:2740214b8aeb5a5e1d70cf</string>
	<key>DATABASE_URL</key>
	<string>https://trace-93ce1.firebaseio.com</string>
</dict>
</plist>